<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src= "assets/me (2)-modified.png" class="card-img-top" alt="No Image">
      <div class="card-body">
        <h5 class="card-title">Employee Information</h5><br>
        <p class="card-text">Emp Code : GSI GI 882</p>
        <p>Emp mail : Shobhit.Singh@Geminisolutions.com</p>
        <p>Designation : Technical Trainee</p>
        <p>Joining Date : 6 Feb 2023</p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      
      <div class="card-body">
        <h5 class="card-title">EC Information</h5><br>
        <p class="card-text">EC Council : Data Engineering</p>
        <p>EC Mentor : Garima Sharma</p>
      </div>
      
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      
      <div class="card-body">
        <h5 class="card-title">Experience</h5>
        <p class="card-text">Gemini Exp : 6 months</p>
        <h5 class="card-title">Skills</h5>
        <p class="card-text">Java | SQL | Python | HTML | CSS | Bootstrap</p>
      </div>
      
    </div>
  </div>
</div>
<router-outlet></router-outlet>
